/*****SASS 7-1 PATTERN*****/ /*****Colors*****/
/*****Breakpoints*****/
/*****marge*****/
/*****Responsive*****/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  margin: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.banner {
  height: 111px;
  position: relative;
  margin: 20px 15px 20px 15px;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .banner {
    margin: 20px 30px;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    height: 223px;
    margin: 20px 30px;
  }
}
.banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transform: scale(1.8);
}
@media screen and (min-width: 768px) {
  .banner__img {
    transform: scale(1.18);
  }
}
@media screen and (min-width: 992px) {
  .banner__img {
    transform: none;
  }
}
.banner__title {
  position: absolute;
  width: 65%;
  left: 20px;
  top: 14px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 24px;
    right: 30%;
    left: 30%;
    top: 25%;
  }
}
@media screen and (min-width: 992px) {
  .banner__title {
    font-size: 48px;
    right: 25%;
    left: 25%;
    top: 26%;
  }
}
.banner__cover {
  position: absolute;
  top: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about__banner > .banner {
  height: 223px;
}

.about__banner > .banner__banner__img {
  transform: scale(1.15);
}
@media screen and (min-width: 992px) {
  .about__banner > .banner__banner__img {
    transform: none;
  }
}

.cards {
  height: 255px;
  display: flex;
  flex-direction: column;
  margin: 22px 15px 20px 15px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(180deg, #FF6060, #FF6060, #FF6060, #833131);
}
@media screen and (min-width: 768px) {
  .cards {
    width: 340px;
    height: 340px;
  }
}
@media screen and (min-width: 992px) {
  .cards {
    width: 340px;
    height: 340px;
  }
}
.cards__img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
@media screen and (min-width: 992px) {
  .cards__img {
    height: 82%;
  }
}
.cards__title {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  width: 55%;
  margin: 13px;
}
@media screen and (min-width: 768px) {
  .cards__title {
    font-size: 15px;
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .cards__title {
    font-size: 18px;
    width: 100%;
    height: 14%;
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 255px;
  margin: 0px 20px 0px;
}
@media screen and (min-width: 992px) {
  .carousel {
    height: 415px;
    margin: 0px 20px 0px;
  }
}
.carousel__picture {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.carousel__chevron {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 84%;
}
@media screen and (min-width: 768px) {
  .carousel__chevron {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .carousel__chevron {
    width: 95%;
  }
}
.carousel__chevron--button {
  border: none;
  background-color: transparent;
  padding: 0;
  height: 20px;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}
@media screen and (min-width: 992px) {
  .carousel__chevron--button {
    height: 90px;
  }
}
.carousel__left {
  height: 100%;
}
@media screen and (min-width: 768px) {
  .carousel__left {
    height: 50px;
  }
}
@media screen and (min-width: 992px) {
  .carousel__left {
    height: 79.2px;
  }
}
.carousel__rigth {
  height: 100%;
}
@media screen and (min-width: 768px) {
  .carousel__rigth {
    height: 50px;
  }
}
@media screen and (min-width: 992px) {
  .carousel__rigth {
    height: 79.2px;
  }
}
.carousel__counter {
  color: #fff;
  position: absolute;
  top: 110px;
  left: 45%;
  right: 45%;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .carousel__counter {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  .carousel__counter {
    font-size: 18px;
    top: 187px;
    left: 49%;
    right: 48%;
  }
}

.collapse {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .collapse {
    width: 100%;
  }
}
.collapse__button {
  color: #f7f7f7;
  width: 93%;
  border: none;
  border-radius: 5px;
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -14px;
  align-items: center;
  height: 30px;
  font-size: 13px;
  padding: 0 10px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .collapse__button {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .collapse__button {
    font-size: 24px;
    height: 47px;
  }
}
.collapse__text {
  margin: 0;
}
.collapse__img {
  width: 16px;
  height: 10px;
}
@media screen and (min-width: 768px) {
  .collapse__img {
    width: 22px;
    height: 12px;
  }
}
@media screen and (min-width: 992px) {
  .collapse__img {
    width: 24px;
    height: 14px;
  }
}
.collapse__info {
  width: 93%;
  background-color: #f7f7f7;
  color: #ff6060;
  font-weight: 400;
  margin: 0;
  font-weight: 400;
}
.collapse__list {
  display: inline-block;
  font-size: 12px;
  padding: 23px 7px 24px 11.5px;
}
@media screen and (min-width: 768px) {
  .collapse__list {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (min-width: 992px) {
  .collapse__list {
    font-size: 24px;
    padding: 32px 20px 5px 20px;
    line-height: 34px;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .collapse .product__collapse > .collapse {
    width: 90%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .navbar {
    margin: 20px 30px;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    margin: 20px 30px;
  }
}
.navbar__img {
  height: 48px;
}
.navbar__img:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .navbar__img {
    height: 50px;
  }
}
@media screen and (min-width: 992px) {
  .navbar__img {
    height: 53px;
  }
}
.navbar__link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .navbar__link {
    width: 37%;
    text-transform: none;
  }
}
@media screen and (min-width: 992px) {
  .navbar__link {
    width: 25%;
    text-transform: none;
  }
}
.navbar__link--active, .navbar__link--inactive {
  width: 50%;
  color: #ff6060;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .navbar__link--active, .navbar__link--inactive {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .navbar__link--active, .navbar__link--inactive {
    font-size: 24px;
  }
}
.navbar__link--inactive {
  text-decoration: none;
}

.footer {
  width: 100%;
  background: #000;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.footer__logo {
  margin-top: 4%;
}
.footer__info {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .footer__info {
    font-size: 24px;
  }
}

.home__gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .home__gallery {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #f7f7f7;
    padding: 30px 10px 30px 10px;
    border-radius: 0px;
  }
}
@media screen and (min-width: 992px) {
  .home__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    justify-items: center;
    border-radius: 25px;
    margin: 40px 30px 40px 30px;
    padding: 30px 50px;
  }
}

.about {
  margin-left: auto;
  margin-right: auto;
}
.about__info {
  margin: auto;
  height: auto;
  min-height: 160px;
}
@media screen and (min-width: 768px) {
  .about__info {
    width: 80%;
    min-height: 679px;
  }
}
@media screen and (min-width: 992px) {
  .about__info {
    min-height: 542px;
    width: 85%;
  }
}

.error {
  color: #ff6060;
  text-align: center;
}
.error__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 523px;
}
@media screen and (min-width: 768px) {
  .error__info {
    height: 1025px;
  }
}
.error__number {
  font-weight: 700;
  font-size: 96px;
}
@media screen and (min-width: 768px) {
  .error__number {
    font-size: 200px;
  }
}
@media screen and (min-width: 992px) {
  .error__number {
    font-size: 288px;
  }
}
.error__text {
  font-size: 18px;
  font-weight: 500;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .error__text {
    font-size: 28px;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .error__text {
    font-size: 36px;
    width: 100%;
  }
}
.error__link {
  color: #ff6060;
  font-size: 14px;
  margin-top: 75px;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .error__link {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .error__link {
    font-size: 18px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  color: #ff6060;
}
.product__content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
@media screen and (min-width: 992px) {
  .product__content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.product__title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .product__title {
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) {
  .product__title {
    font-size: 36px;
  }
}
.product__location {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .product__location {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .product__location {
    font-size: 18px;
  }
}
.product__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}
.product__tags p {
  background-color: #ff6060;
  color: #fff;
  font-size: 10px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px;
  width: 84px;
  height: 18px;
}
@media screen and (min-width: 768px) {
  .product__tags p {
    font-size: 14px;
    width: 100px;
    height: 23px;
  }
}
@media screen and (min-width: 992px) {
  .product__tags p {
    font-size: 14px;
    width: 115px;
    height: 25px;
  }
}
.product__host-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
@media screen and (min-width: 992px) {
  .product__host-rating {
    flex-direction: column;
    align-items: flex-end;
  }
}
.product__host {
  display: flex;
  align-items: center;
  width: 29%;
  justify-content: flex-end;
}
@media screen and (min-width: 992px) {
  .product__host {
    width: 9%;
  }
}
.product__host p {
  font-size: 12px;
  margin: 0px 10px;
  text-align: right;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .product__host p {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .product__host p {
    font-size: 18px;
  }
}
.product__host img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .product__host img {
    width: 54px;
    height: 54px;
  }
}
@media screen and (min-width: 992px) {
  .product__host img {
    width: 64px;
    height: 64px;
  }
}
.product__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 26%;
}
@media screen and (min-width: 768px) {
  .product__rating {
    width: 14%;
  }
}
@media screen and (min-width: 992px) {
  .product__rating {
    width: 100%;
    margin: 20px 0px;
  }
}
.product__rating--star {
  width: 13.41px;
  height: 13px;
}
@media screen and (min-width: 768px) {
  .product__rating--star {
    width: 18.75px;
    height: 18px;
  }
}
@media screen and (min-width: 992px) {
  .product__rating--star {
    width: 24.75px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .product__collapse {
    min-height: 515px;
  }
  .product__collapse > div > button {
    font-size: 15px;
    border-radius: 10px;
  }
  .product__collapse > div > div.collapse__content {
    border-radius: 0 0 10px 10px;
    padding: 15px 0;
  }
  .product__collapse > div > div.collapse__content > p,
  .product__collapse > div > div.collapse__content ul {
    font-size: 15px;
    line-height: 25, 67px;
  }
}
@media screen and (min-width: 992px) {
  .product__collapse {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: start;
  }
  .product__collapse > div > button {
    font-size: 18px;
    border-radius: 10px;
    width: 96%;
  }
  .product__collapse > div > div.collapse__info {
    border-radius: 0 0 10px 10px;
    padding: 35px 0;
    height: 300px;
    width: 96%;
  }
  .product__collapse > div > div.collapse__info > p,
  .product__collapse > div > div.collapse__info ul {
    font-size: 18px;
    line-height: 25, 67px;
  }
}/*# sourceMappingURL=style.css.map */