/*****SASS 7-1 PATTERN*****/ /*****Colors*****/
/*****Breakpoints*****/
/*****Responsive*****/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.banner {
  height: 111px;
  position: relative;
  margin: 20px 15px 20px 15px;
  border-radius: 10px;
  overflow: hidden;
}
.banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transform: scale(1.8);
}
.banner__title {
  position: absolute;
  width: 65%;
  left: 20px;
  top: 14px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.banner__cover {
  position: absolute;
  top: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about__banner > .banner {
  height: 223px;
}

.cards {
  height: 255px;
  display: flex;
  flex-direction: column;
  margin: 22px 15px 20px 15px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(180deg, #FF6060, #FF6060, #FF6060, #833131);
}
.cards__img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.cards__title {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  width: 55%;
  margin: 13px;
}

.carousel {
  display: flex;
  align-items: center;
  height: 255px;
  margin: 0px 20px 0px;
}
.carousel__picture {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.carousel__chevron {
  display: flex;
  width: 100%;
}
.carousel__chevron--button {
  border: none;
  background-color: transparent;
  padding: 0;
}
.carousel__left {
  position: absolute;
  right: 90%;
  height: 20px;
  top: 25%;
}
.carousel__rigth {
  position: absolute;
  right: 7%;
  height: 20px;
  top: 25%;
}
.carousel__counter {
  color: #fff;
  position: absolute;
  bottom: 60%;
  left: 46%;
  right: 46%;
  font-size: 14px;
  font-weight: 500;
}

.collapse {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.collapse__button {
  color: #f7f7f7;
  width: 93%;
  border: none;
  border-radius: 5px;
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  font-size: 13px;
  padding: 0 20px;
  cursor: pointer;
}
.collapse__img {
  width: 16px;
  height: 10px;
}
.collapse__info {
  width: 93%;
  background-color: #f7f7f7;
  color: #ff6060;
  font-size: 12px;
  padding: 21px 11px 52px 11px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.navbar__img {
  height: 48px;
}
.navbar__img:hover {
  cursor: pointer;
}
.navbar__link {
  width: 38%;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar__link--active, .navbar__link--inactive {
  width: 50%;
  color: #ff6060;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: underline;
}
.navbar__link--inactive {
  text-decoration: none;
}

.footer {
  width: 100%;
  background: #000;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.footer__logo {
  margin-top: 4%;
}
.footer__info {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.home__gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__info {
  max-width: 1023px;
  margin: auto;
}

.error {
  color: #ff6060;
  text-align: center;
}
.error__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 523px;
}
.error__number {
  font-weight: 700;
  font-size: 96px;
}
.error__text {
  font-size: 18px;
  font-weight: 500;
  width: 260px;
}
.error__link {
  color: #ff6060;
  font-size: 14px;
  margin-top: 75px;
  text-decoration: underline;
}

.product {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */