.about {
    &__info {
        margin: auto;
        height: auto;
        min-height: 160px;

        @include media-min($tablet) {
            width: 80%;
            min-height: 679px;
        }

        @include media-min($desktop) {
            min-height: 542px;
            width: 85%;
        }

    }
}