.home {
    &__gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-min($tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            background-color: $secondary-color;
            padding: 30px 10px 30px 10px;
            border-radius: 0px;
        }

        @include media-min($desktop) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            width: 1240px;
            margin: 40px 315px 40px 315px;
            background-color: $secondary-color;
            padding: 30px 10px 30px 10px;
            border-radius: 25px;
        }
    }
}