.home {
    &__gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;



        @include media-min($tablet) {
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            background-color: $secondary-color;
            padding: 30px 10px 30px 10px;
            border-radius: 0px;

        }

        @include media-min($desktop) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
            justify-items: center;
            border-radius: 25px;
            margin: 40px 30px 40px 30px;
            padding: 30px 50px;
        }


    }
}