.footer {
    width: 100%;
    background: $black;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;

    &__logo {
        margin-top: 4%;
    }

    &__info {
        color: $white;
        font-weight: 500;
        font-size: 12px;


        @include media-min($tablet) {
            font-size: 20px;
        }

        @include media-min($desktop) {
            font-size: 24px;
        }
    }
}