.banner {
    height: 111px;
    position: relative;
    margin: 20px 15px 20px 15px;
    border-radius: 10px;
    overflow: hidden;

    @include media-min($tablet) {
        margin: $margin;
    }

    @include media-min($desktop) {
        height: 223px;
        margin: $margin;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        transform: scale(1.8);

        @include media-min($tablet) {
            transform: scale(1.18);
        }

        @include media-min($desktop) {
            transform: none;
        }
    }

    &__title {
        position: absolute;
        width: 65%;
        left: 20px;
        top: 14px;
        font-size: 24px;
        font-weight: 500;
        color: $white;
        line-height: 24px;
        letter-spacing: 0.5px;

        @include media-min($tablet) {
            font-size: 24px;
            right: 30%;
            left: 30%;
            top: 25%
        }

        @include media-min($desktop) {
            font-size: 48px;
            right: 25%; //modif
            left: 25%; //modif
            top: 26%
        }
    }

    &__cover {
        position: absolute;
        top: 0;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
}

.about__banner>.banner {
    height: 223px;
}

.about__banner>.banner__banner__img {
    transform: scale(1.15);

    @include media-min($desktop) {
        transform: none;
    }
}