.cards {
    height: 255px;
    display: flex;
    flex-direction: column;
    margin: 22px 15px 20px 15px;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(180deg, #FF6060, #FF6060, #FF6060, #833131);


    @include media-min($tablet) {
        width: 340px;
        height: 340px;
    }

    @include media-min($desktop) {
        width: 340px;
        height: 340px;
    }

    &__img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;

        @include media-min($desktop) {
            height: 82%;
        }
    }

    &__title {
        font-size: 15px;
        font-weight: 500;
        color: $white;
        width: 55%;
        margin: 13px;

        @include media-min($tablet) {
            font-size: 15px;
            width: 80%;
        }

        @include media-min($desktop) {
            font-size: 18px;
            width: 100%;
            height: 14%;
        }
    }
}